<div class="feedcomments">
  <div class="new-comment row border-radius shadow">
    <h4>Agregar un Comentario</h4>
    <div class="comment-input-area">
      <textarea
        placeholder="Escribe tu comentario..."
        [(ngModel)]="newCommentText"
      ></textarea>
      <button (click)="addComment()">Publicar Comentario</button>
    </div>
  </div>

  <ul>
    <li *ngFor="let comment of comments">
      <div class="comment-card row border-radius shadow">
        <div class="feedcomments-user">
          <img src="./../../../assets/images/user-6.jpg" alt="Avatar del usuario" />
          <span>
            <b>{{ comment.nombreUsuario }}</b
            ><br /><p>{{ formatCommentDate(comment.fecha) }}</p>
          </span>
        </div>
        <div class="feedcomments-comment">
          <p>{{ comment.contenido }}</p>
        </div>
        <div class="feedcomments-foot">
          <span class="comment-like-button" (click)="toggleCommentLike(comment)" style="cursor:pointer;">
            <i class="fa"
               [class.fa-heart]="hasUserLikedComment(comment)"
               [class.fa-heart-o]="!hasUserLikedComment(comment)">
            </i>
            {{ comment.likes?.length || 0 }} {{ comment.likes?.length === 1 ? 'like' : 'likes' }}
          </span>
          <p><a href="#"><i class="fa fa-reply"></i> responder</a></p>
        </div>
      </div>
    </li>
    <li *ngIf="comments.length === 0 && postId">
      <div class="comment-card row border-radius shadow">
        <div class="feedcomments-comment">
          <p>Sé el primero en comentar esta publicación.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
