<div class="row border-radius">
  <div class="feed">
    <div class="feed_title">
      <img src="../../../assets/images/user-7.jpg" alt="" />
      <span>
        <b>{{ post.autorNombre }}</b> compartió una <a href="#">participación</a> en
        <ng-container *ngIf="contestName; else defaultConcurso">
          un concurso:
          <a href="#" (click)="goToContestDetails()">{{ contestName }}</a>
        </ng-container>
        <ng-template #defaultConcurso>
          un <a href="#">concurso</a>
        </ng-template>
        <br />
        <p>{{ post.fechaPublicacion | date: 'medium' }}</p>
      </span>
    </div>

    <div class="feed_content">
      <p>{{ post.descripcion }}</p>

      <div class="feed_content_image" *ngIf="post.imagenUrl">
        <a href="#"><img [src]="post.imagenUrl" alt="Imagen del post" /></a>
      </div>
    </div>

    <div class="feed_footer">
      <ul class="feed_footer_left">
        <li class="hover-orange selected-orange" (click)="toggleLike(post)" style="cursor:pointer;">
          <i
            class="fa"
            [class.fa-heart]="hasUserLiked(post)"
            [class.fa-heart-o]="!hasUserLiked(post)"
            aria-hidden="true"
          ></i>
          {{ post.likes.length || 0 }} {{ (post.likes.length === 1 || post.likes.length === 0) ? 'like' : 'likes' }}
        </li>

        <li *ngIf="post.likes && post.likes.length > 0">
          <span>
            <b>{{ firstTwoLikeUsers }}</b>
            <ng-container *ngIf="post.likes.length > 2">
              y {{ post.likes.length - 2 }} más
            </ng-container>
            dieron like
          </span>
        </li>
      </ul>

      <ul class="feed_footer_right">
        <li class="hover-orange selected-orange" style="cursor:pointer;"><i class="fa fa-share" aria-hidden="true"></i> Compartir</li>
        <li class="hover-orange" style="cursor:pointer;">
          <a (click)="toggleComments()" style="color:#515365;">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            {{ post.comentarios.length || 0 }} comentarios
          </a>
        </li>
      </ul>
    </div>

    <app-comments
      *ngIf="showComments && post?.id"
      [postId]="post.id!"
      [currentUserId]="currentUserId!"
      [currentUserName]="currentUserName"
      (commentAdded)="onCommentAdded($event)"
    ></app-comments>
  </div>
</div>
