<div class="row border-radius">
  <div class="feed">
    <div class="feed_title">
      <img src="../../../assets/images/user-7.jpg" alt="" />
      <span>
        <b>{{ post.autorNombre }}</b> compartió una <a href="#">participación</a> en
        <ng-container *ngIf="contestName; else defaultConcurso">
          un concurso:
          <a href="#" (click)="goToContestDetails()">{{ contestName }}</a>
        </ng-container>
        <ng-template #defaultConcurso>
          un <a href="#">concurso</a>
        </ng-template>
        <br />
        <p>{{ post.fechaPublicacion | date: 'medium' }}</p>
      </span>
    </div>

    <div class="feed_content">
      <p>{{ post.descripcion }}</p>

      <div class="feed_content_image" *ngIf="post.imagenUrl">
        <a href="#"><img [src]="post.imagenUrl" alt="Imagen del post" /></a>
      </div>
    </div>

    <div class="feed_footer">
      <ul class="feed_footer_left">
        <li class="hover-orange selected-orange">
          <i class="fa fa-heart"></i> {{ post.likes.length }}
        </li>
        <li>
          <span>
            <b>{{ post.likes[0] || 'Alguien' }}</b> y {{ post.likes.length - 1 }} más les gustó esto
          </span>
        </li>
      </ul>

      <ul class="feed_footer_right">
        <li class="hover-orange selected-orange"><i class="fa fa-share"></i> Compartir</li>
        <li class="hover-orange">
          <a (click)="toggleComments()" style="color:#515365;">
            <i class="fa fa-comments-o"></i> {{ post.comentarios.length }} comentarios
          </a>
        </li>
      </ul>
    </div>

    <app-comments *ngIf="showComments"></app-comments>
  </div>
</div>