<app-header *ngIf="!showSmallHeader"></app-header>

<app-header-small *ngIf="showSmallHeader"></app-header-small>

<div class="contest-section" *ngIf="!concursoSeleccionado">
  <h2>Concursos Recomendados</h2>
  <ul>
    <li *ngFor="let concurso of concursosRecomendados">
      <img [src]="concurso.imagen" alt="{{ concurso.nombre }}">
      <div class="info">
        <h3>{{ concurso.nombre }}</h3>
        <p>{{ concurso.organizador }}</p>
        <span>{{ concurso.categoria }}</span>
      </div>

      <div class="button-group">
        <button (click)="verDetalleConcurso(concurso)">Detalles</button>
        <button
          *ngIf="concurso.id && !signedUpChallangeIds.includes(concurso.id)"
          (click)="inscribirse(concurso)">
          Inscribirme
        </button>
      </div>
    </li>
  </ul>
</div>
