<app-header *ngIf="!showSmallHeader"></app-header>

<app-header-small *ngIf="showSmallHeader"></app-header-small>

<div class="contest-section card shadow-lg p-4 mb-4 bg-white rounded" *ngIf="!concursoSeleccionado">
  <h2 class="fw-bold text-primary mb-4">Concursos Recomendados</h2>
  <ul class="list-unstyled">
    <li *ngFor="let concurso of concursosRecomendados" class="d-flex align-items-center mb-3 p-3 border rounded shadow-sm bg-light">
      <img [src]="concurso.imagen" alt="{{ concurso.nombre }}" class="rounded me-3" style="width: 70px; height: 70px; object-fit: cover;">
      <div class="info flex-grow-1">
        <h3 class="mb-1">{{ concurso.nombre }}</h3>
        <p class="mb-1 text-muted">{{ concurso.organizador }}</p>
        <span class="badge bg-primary">{{ concurso.categoria }}</span>
      </div>

      <div class="button-group">
        <button (click)="verDetalleConcurso(concurso)">Detalles</button>
        <button
          *ngIf="concurso.id && !signedUpChallangeIds.includes(concurso.id)"
          (click)="inscribirse(concurso)">
          Inscribirme
        </button>
      </div>
    </li>
  </ul>
</div>
