<!-- Barra superior para móvil -->
<div class="mobilemenu-bar">
  <button class="menu-btn" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>
  <span class="menu-title">Mi Perfil</span>
</div>

<!-- Menú desplegable -->
<div class="mobilemenu" [class.show]="menuVisible">
  <div class="mobilemenu_profile">
    <img id="mobilemenu_portada" src="assets/images/portada.jpg" />
    <div class="mobilemenu_profile">
      <img id="mobilemenu_profile_pic" [src]="imgUrl" /><br />
      <span>Marito11<br />
        <p>150k followers / 50 follow</p>
      </span>
    </div>
    <div class="mobilemenu_menu">
      <ul>
        <li><a href="index.html" id="mobilemenu-selected"><i class="fa fa-globe"></i>Noticias</a></li>
        <li><a href="profile.html"><i class="fa fa-user"></i>Perfil</a></li>
        <li><a href="friends.html"><i class="fa fa-users"></i>Amigos</a></li>
        <li><a href="messages.html"><i class="fa fa-comments-o"></i>Mensajes</a></li>
        <li class="primarymenu"><i class="fa fa-compass"></i>Explorar</li>
        <ul class="mobilemenu_child">
          <li><a href="#"><i class="fa fa-globe"></i>Actividad</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Amigos</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Grupos</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Páginas</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Guardados</a></li>
        </ul>
      </ul>
      <hr />
      <ul>
        <li><a href="#">Términos y Condiciones</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="login.html">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>
