<!-- Barra superior para móvil -->
<div class="mobilemenu-bar">
  <button class="menu-btn" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>
  <span class="menu-title">My Profile</span>
</div>

<!-- Menú desplegable -->
<div class="mobilemenu" [class.show]="menuVisible">
  <div class="mobilemenu_profile">
    <img id="mobilemenu_portada" src="assets/images/portada.jpg" />
    <div class="mobilemenu_profile">
      <img id="mobilemenu_profile_pic" src="assets/images/yo.jpg" /><br />
      <span>Marito11<br />
        <p>150k followers / 50 follow</p>
      </span>
    </div>
    <div class="mobilemenu_menu">
      <ul>
        <li><a href="index.html" id="mobilemenu-selected"><i class="fa fa-globe"></i>Newsfeed</a></li>
        <li><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="friends.html"><i class="fa fa-users"></i>Friends</a></li>
        <li><a href="messages.html"><i class="fa fa-comments-o"></i>Messages</a></li>
        <li class="primarymenu"><i class="fa fa-compass"></i>Explore</li>
        <ul class="mobilemenu_child">
          <li><a href="#"><i class="fa fa-globe"></i>Activity</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Friends</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Groups</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Pages</a></li>
          <li><a href="#"><i class="fa fa-file"></i>Saves</a></li>
        </ul>
        <li class="primarymenu"><i class="fa fa-user"></i>Rapid Access</li>
        <ul class="mobilemenu_child">
          <li><a href="#"><i class="fa fa-star-o"></i>Your-Page.html</a></li>
          <li><a href="#"><i class="fa fa-star-o"></i>Your-Group.html</a></li>
        </ul>
      </ul>
      <hr />
      <ul>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
