<div class="mobilemenu-bar">
  <div class="mobile-search-container">
    <input
      [(ngModel)]="searchBarValue"
      name="searchBarMobile"
      type="text"
      placeholder="Search people.."
      (input)="onSearchInputChange()"
      (focus)="showSearchResults = searchBarValue.length > 0"
    />
    <button><i class="fa fa-search"></i></button>
    <div
      class="search-results-dropdown mobile"
      *ngIf="showSearchResults && searchResults.length > 0"
    >
      <ul>
        <li *ngFor="let user of searchResults" (click)="selectSearchResult(user)">
          <img [src]="user.photoURL" alt="{{ user.displayName }}" />
          <span>{{ user.displayName }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="mobilemenu-bar_icons">
    <span id="notification" *ngIf="false">2</span>
    <i class="fa fa-comments-o" (click)="toggleMessagesModal()"></i>
    <i class="fa fa-user-o" (click)="toggleFriendsModal()"></i>
    <img [src]="imgUrl" alt="User" (click)="toggleProfileModal()" />
  </div>
</div>

<div
  class="modal-container"
  (mouseenter)="messagesModalHover = true"
  (mouseleave)="messagesModalHover = false"
>
  <div class="modal modal-comments" *ngIf="showMessagesModal">
    <div class="modal-title">
      <span>CHAT / MESSAGES</span>
      <a (click)="navigateTo('/messages.html')"><i class="fa fa-ellipsis-h"></i></a>
    </div>
    <div class="modal-content">
      <ul>
        <li>
          <a href="#">
            <img src="assets/images/user-7.jpg" alt="Diana" />
            <span><b>Diana Jameson</b><br />Hi James! It’s Diana, I just wanted to let you know that we have to
              reschedule...<p>4 hours ago</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/user-2.jpg" alt="Diana" />
            <span><b>Diana Jameson</b><br />Hi James! It’s Diana, I just wanted to let you know that we have to
              reschedule...<p>4 hours ago</p></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="modal-container"
  (mouseenter)="friendsModalHover = true"
  (mouseleave)="friendsModalHover = false"
>
  <div class="modal modal-friends" *ngIf="showFriendsModal">
    <div class="modal-title">
      <span>FRIEND REQUESTS</span>
      <a (click)="navigateTo('/friends.html')"><i class="fa fa-ellipsis-h"></i></a>
    </div>
    <div class="modal-content">
      <ul>
        <li>
          <a href="#">
            <img src="assets/images/user-2.jpg" alt="Tony" />
            <span><b>Tony Stevens</b><br />4 Friends in Common</span>
            <button class="modal-content-accept">Accept</button>
            <button class="modal-content-decline">Decline</button>
          </a>
        </li>
      </ul>
    </div>
    <div class="modal-content">
      <ul>
        <li>
          <a href="#">
            <img src="assets/images/user-7.jpg" alt="Tony" />
            <span><b>Tony Stevens</b><br />4 Friends in Common</span>
            <button class="modal-content-accept">Accept</button>
            <button class="modal-content-decline">Decline</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="modal-container"
  (mouseenter)="profileModalHover = true"
  (mouseleave)="profileModalHover = false"
>
  <div class="modal modal-profile" *ngIf="showProfileModal">
    <div class="modal-title">
      <span>YOUR ACCOUNT</span>
      <a (click)="navigateTo('/settings.html')"><i class="fa fa-cogs"></i></a>
    </div>
    <div class="modal-content">
      <ul>
        <li>
          <a (click)="navigateTo('/settings.html')">
            <i class="fa fa-tasks"></i>
            <span><b>Profile Settings</b><br />Your profile settings</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" routerLink="/login">
            <i class="fa fa-sign-out"></i>
            <span><b>Sign out</b></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
