<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <a href="index.html"><img src="./../../../assets/images/logo2.png" alt=""></a>
      </div>
      <form class="login100-form validate-form" (ngSubmit)="loginWithEmail()">
        <span class="login100-form-title">Member Login</span>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="email" [(ngModel)]="email" placeholder="Email" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100"><i class="fa fa-envelope" aria-hidden="true"></i></span>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">Login</button>
        </div>

        <!-- Botón Google -->
        <div class="text-center p-t-20">
          <p class="txt1">Or login with</p>
          <a (click)="loginWithGoogle()" class="google-btn" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo">
            <span>Login with Google</span>
          </a>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
