<app-header *ngIf="!showSmallHeader"></app-header>

<app-header-small *ngIf="showSmallHeader"></app-header-small>

<div class="main-content-wrapper" [class.suggestions-open]="showSuggestionsPanel">
  <div class="content-area">
    <div class="row publish-section">
      <div class="row_title">
        <span><i class="fa fa-newspaper-o" aria-hidden="true"></i> Status</span>
      </div>
      <form method="" action="/">
        <div class="publish_textarea">
          <img class="border-radius-image" [src]="imgUrl" alt="" />
          <textarea type="text" placeholder="¿Qué piensas, Mario?" style="resize: none;"></textarea>
        </div>
        <div class="publish_icons">
          <ul>
            <li><i class="fa fa-camera"></i></li>
            <li><i class="fa fa-video-camera"></i></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
          </ul>
          <button class="publish-button">Publicar</button>
        </div>
      </form>
    </div>

    <app-post-requeriments></app-post-requeriments>
    <app-post-challange-results></app-post-challange-results>
    <app-post-participation></app-post-participation>

    <div class="row feed-post">
      <div class="feed">
        <div class="feed_title">
          <img [src]="imgUrl" alt="" />
          <span><b>Marito11</b> compartió un <a href="feed.html">video</a><br />
            <p>1 de Marzo a las 3:53pm</p>
          </span>
        </div>
        <div class="feed_content">
          <div class="feed_content_image">
            <iframe
              src="https://www.youtube.com/embed/dQw4w9WgXcQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="action-item"><i class="fa fa-heart"></i> 22k</li>
            <li><span><b>Jimmy, Andrea</b> y 47 más les gustó esto</span></li>
          </ul>
          <ul class="feed_footer_right">
            <li class="action-item"><i class="fa fa-share"></i> 7k</li>
            <li class="action-item comment-link">
              <a href="feed.html"><i class="fa fa-comments-o"></i> 74 comentarios</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row feed-post">
      <div class="feed">
        <div class="feed_title">
          <img src="../../../assets/images/user-6.jpg" alt="" />
          <span><b>Valentine Krashe</b> compartió una <a href="feed.html">foto</a><br />
            <p>1 de Marzo a las 3:53pm</p>
          </span>
        </div>
        <div class="feed_content">
          <div class="feed_content_image">
            <a href="feed.html"><img src="../../../assets/images/photo-2.jpg" alt="" /></a>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="action-item"><i class="fa fa-heart"></i> 22k</li>
            <li><span><b>Jimmy, Andrea</b> y 47 más les gustó esto</span></li>
          </ul>
          <ul class="feed_footer_right">
            <li class="action-item"><i class="fa fa-share"></i> 7k</li>
            <li class="action-item comment-link">
              <a href="feed.html"><i class="fa fa-comments-o"></i> 74 comentarios</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row feed-post">
      <div class="feed">
        <div class="feed_title">
          <img src="../../../assets/images/user-6.jpg" alt="" />
          <span><b>Valentine Krashe</b><br />
            <p>1 de Marzo a las 3:53pm</p>
          </span>
        </div>
        <div class="feed_content">
          <div class="feed_content_text">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
          </div>
        </div>
        <div class="feed_footer">
          <ul class="feed_footer_left">
            <li class="action-item"><i class="fa fa-heart"></i> 159</li>
            <li><span><b>Jimmy, Andrea</b> y 157 más les gustó esto</span></li>
          </ul>
          <ul class="feed_footer_right">
            <li class="action-item"><i class="fa fa-share"></i> 7k</li>
            <li class="action-item comment-link">
              <a href="feed.html"><i class="fa fa-comments-o"></i> 54 comentarios</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <a href="#">
        <div class="load-more-feed">
          <i class="fa fa-ellipsis-h"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="suggestions-panel" [class.show]="showSuggestionsPanel">
    <div class="row suggestions-box">
      <div class="row_title">
        <span>Sugerencias de concursos</span>
        <a [routerLink]="['/challanges']">ver más..</a>
      </div>
      <ng-container *ngFor="let concurso of concursosRecomendados.slice(0, 6)">
        <div class="suggestion-item">
          <img [src]="concurso.imagen" alt="" />
          <div class="suggestion-info">
            <b>{{ concurso.nombre }}</b><br /><span>{{ concurso.categoria }}</span>
          </div>
          <button class="details-button" (click)="verDetalleConcurso(concurso)">Detalles</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<button class="toggle-suggestions-button" (click)="toggleSuggestionsPanel()">
  <i class="fa" [ngClass]="{'fa-chevron-right': !showSuggestionsPanel, 'fa-chevron-left': showSuggestionsPanel}"></i>
  </button>

<button onclick="topFunction()" id="myBtn" title="Ir arriba"><i class="fa fa-arrow-up"></i></button>
